//
//  App-Release.xcconfig
//  Baby Monitor
//

#include "App-Base.xcconfig"
#include "../../Pods/Target Support Files/Pods-Baby Monitor/Pods-Baby Monitor.production.xcconfig"

_BUNDLE_IDENTIFIER = com.netguru.BabyGuard

_CODESIGN_DEVELOPMENT_TEAM = SK8PDF7SG9
_CODESIGN_IDENTITY = iPhone Distribution
_CODESIGN_PROFILE_SPECIFIER = BabyGuard App Store
GOOGLE_SERVICES_CONFIGURATION = Production
