//
//  App-Common.xcconfig
//  Baby Monitor
//

#include "../Carthage/Checkouts/xcconfigs/Common/Common.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/Platforms/iOS.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/Common/Carthage.xcconfig"

_BUILD_VERSION = 0.4
_BUILD_NUMBER = 1
_COMPILER_SWIFT_VERSION = 4.1

_BUNDLE_NAME = BabyMonitor
_PRODUCT_NAME = Baby Monitor
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/Baby Monitor/Supporting Files/Info.plist
_BUNDLE_IDENTIFIER = co.netguru.internal.babymonitor$(__PRODUCT_BUNDLE_IDENTIFIER_SUFFIX)

_DEPLOYMENT_TARGET_IOS = 11.0
_CODESIGN_STYLE = Manual

SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Baby Monitor/Supporting Files/Bridging-Header.h
_ASSET_ICON = AppIcon
